.landpage-introduction {
    height: 100%;
    text-align: center;
    color: white;
    background: no-repeat center/100% url("/home/rzhuang/app_academy/mint-hackathon/paint-app/src/images/brush-g8641e7339_1920.jpg");
}

#canvas-link {
    color: white;
    text-decoration: none;
    background-color: green;
}
