.landpage-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40em;
    color: white;
    background: no-repeat center/100% url("../../images/brush-g8641e7339_1920.jpg");
}

.landpage-about {
    padding-top: 3em;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-label {
    margin-bottom: 1em;
    padding-bottom: 0.1em;
    border-bottom: solid;
    font-size: 2em;
}

#landpage-title {
    font-size: 5em;
}

#canvas-link {
    display: flex;
    justify-content: center;
    width: 10%;
    color: white;
    text-decoration: none;
    background-color: #12c43c;
    margin-top: 5em;
    font-size: 1.5em;
    border-radius: 10px;
}
